/* Main (Posts) Content */
body {
    background-color: #111;
    background: linear-gradient(to top, #222, #000);
    color: oldlace;
}

.flex {
    display: flex;
}

#main-container {
    justify-content: center;
}

.post img {
    max-width: 420px;
}

.post {
    position: relative;
    margin-top: 10px;
}

#right-column, #mid-column, #left-column {
    flex-direction: column;
    margin: 8px;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: oldlace;
    font-size: 20px;
    padding: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.post:hover .overlay {
    opacity: 1;
}

.overlay a {
    text-decoration: none;
    color: oldlace;
    margin-left: 0.5em;
}
.overlay a:hover {
    text-decoration: underline;
}

.overlay input[type="image"] {
    border-radius: 100%;
    width: 3em;
}