* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #333;
    color: oldlace;
    text-align: center;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: linear-gradient(to top, #222, #000);
}
   
::-webkit-scrollbar-thumb {
    background: #666; 
}

::-webkit-scrollbar-thumb:hover {
    background: #444; 
}


/* Navigation Styles */
nav {
    display: flex;
    align-items: center;
    overflow: hidden;
}

nav a {
    font-size: 20px;
    color: oldlace;
    text-decoration: none;

    float: left;
    text-align: center;
    padding: 16px 18px;
}

.account-link {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

.account-link {
    width: 3em;
    border-radius: 100%;
}

.active {
    background-color: firebrick;
}

/* Dropdown Button Styles */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .drop-button {
    font-size: 20px;  
    border: none;
    outline: none;
    color: oldlace;
    padding: 16px 18px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

nav a:hover, .dropdown:hover .drop-button {
    background-color: #555;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 16px 18px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.space-next-to-icon {
    padding-left: 5px;
}


/* Search Bar Styles */
.search-bar {
    width: 100%;
    max-width: 425px;
    min-width: 200px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 2px 8px;

    margin-left: auto;
    float: right;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 8px 5px;
    font-size: 20px;
    color: oldlace;
}

/* Changes border when the search bar is selected */
.search-bar:focus-within {
    border: 1px solid oldlace;
}

/* Changes the placeholder text color within the search bar */
::placeholder {
    color: rgb(180, 180, 180);
}
